.Modal {
  position: absolute;
  top: 50px;
  left: calc(50% - 250px);
  width: 490px;
  height: 525px;
  background-color: white;
  padding: 1rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
